

.container-product {
  max-width: 100%;
  width: 100%;
  /* padding: 4rem 2rem; */
  margin: 0 auto;
}

.main .container-product {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-gap: 1rem; */
  justify-content: center;
  align-items: center;
  /* display: none; */
}



/* .show-more{
  position: relative;
  left: 45%;
  margin-top: 50px;
  margin-bottom: 50px;
} */

/* .active-page{
  display: none !important;
} */


.main .card {
  color: #252a32;
  border-radius: 2px;
  background: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
}
.main .card-image {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 70%;
  background: #ffffff;
}
.main .card-image img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.titleBox{
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /* margin-bottom: -50px; */
  background: #fff;
  background: rgba(0, 0, 0, 0.5);
  color: #FFF;
  padding: 205px;
  text-align: center;
  /* -webkit-transition: all s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out; */

}

.add{
    display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /* margin-bottom: -50px; */
  background: #fff;
  background: rgba(0, 0, 0, 0.5);
  color: #FFF;
  padding: 205px;
  text-align: center;
}



/* .active{
  display: block; 
} */


.ready-websites{
  margin-top: 190px;
}

@media only screen and (max-width: 600px) {
  .main .container-product {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-gap: 1rem; */
  }
}





body{margin:0;background: url(https://www.yerelfirmalar.com/uploads/firmabg/tt_106936__texture_blue_color_background_p.jpg)no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}

.blackscreen{width:100%;height:100vh;position:fixed;background: rgba(255, 255, 255, 1);}

.svg-loader, .svg-logo{
  width: 150px;
  height: 150px;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

@media screen and (max-width: 800px) {
body{background:url(https://www.yerelfirmalar.com/uploads/firmabg/tt_106936__texture_blue_color_background_p.jpg) no-repeat fixed; 
  -webkit-background-size: contain 100%;
  -moz-background-size: contain 100%;
  -o-background-size: contain 100%;
  background-size: contain 100%;}
}


