:root {
    --clr-gray-light: #d7dfe2;
    --clr-gray-med: #616b74;
    --clr-gray-dark: #414b56;
    --clr-link: #4d97b2;
    --clr-popular: #ef257a;
    --clr-technology: #651fff;
    --clr-psychology: #e85808;
  }
  
 
  
  
  
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    overflow: hidden;
    box-shadow: 0px 2px 20px var(--clr-gray-light);
    background: white;
    border-radius: 0.5rem;
    position: relative;
    width: 400px;
    margin: 1rem;
    transition: 250ms all ease-in-out;
    cursor: pointer;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0px 2px 40px var(--clr-gray-light);
  }
  
  .banner-img {
    position: absolute;
    object-fit: cover;
    height: 26rem;
    width: 100%;
  }
  
  .category-tag {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    background: red;
    padding: 0.5rem 1.3rem 0.5rem 1rem;
    text-transform: uppercase;
    position: absolute;
    z-index: 1;
    top: 1rem;
    border-radius: 0 2rem 2rem 0;
  }
  
  .popular {
    background: var(--clr-popular);
  }
  
  .technology {
    background: var(--clr-technology);
  }
  
  .psychology {
    background: var(--clr-psychology);
  }
  
  .card-body {
    margin: 27rem 1rem 1rem 1rem;
  }
  
  .blog-hashtag {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--clr-link);
  }
  
  .blog-title {
    line-height: 3.2rem;
    margin: 1rem 0 0.5rem;
    text-align: center;
  }
  
  .blog-description {
    color: var(--clr-gray-med);
    font-size: 1.2rem;
  }
  
  .card-profile {
    display: flex;
    margin-top: 2rem;
    align-items: center;
    
  }
    
    .profile-img {
      width: 60px;
      height: 60px;
      object-fit: cover;
      border-radius: 50%;
    }
  
  .card-profile-info {
    margin-left: 1rem;
  }
  
  .profile-name {
    font-size: 1rem;
  }
  
  .profile-followers {
    color: var(--clr-gray-med);
    font-size: 0.9rem;
  }
  

  .ready-websites{
    margin-top: 200px;
    margin-bottom: 60px;
  }


  .btn-buy{
    padding: 0px 96px;
    height: 50px;
    font-size: 16px;
    background: #FC6471;
    box-shadow: 0px 4px 14px rgba(252, 100, 113, 0.8);
    border-radius: 16px;
    height: 45px;
  }

  .card-buy{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
  }